table  
{ 
	border-collapse:collapse; 
	width:90%;
}

th, td
{
	text-align:center;
	padding:2px;
}

table,th,td  
{ 
	border:1px solid black; 
}

.tableHeading
{
	background-color:green;
	color:white;
}

.tableExtraColumnHeading
{
	background-color:blue;
	color:white;
}

.score { font-weight:bold; }
.rank0 { color:black; }
.rank1 { color:blue; }
.rank2 { color:green; }
.rank3 { color:brown; }
.rank4 { color:orange; }
.rank5 { color:red; }

a {text-decoration:none;}