table  
{ 
	border-collapse:collapse; 
	width:90%;
}

th, td
{
	text-align:center;
	padding:2px;
}

table,th,td  
{ 
	border:1px solid black; 
}

.tableHeading
{
	background-color:green;
	color:white;
}

.tableExtraColumnHeading
{
	background-color:blue;
	color:white;
}

a {text-decoration:none;}
a.noColorChange { color: inherit; }

.score { font-weight:bold; }
.rank0 { color:black; }
.rank1 { color:blue; }
.rank2 { color:purple; }
.rank3 { color:red; }

.fitField { font-weight:bold; }
.positiveTransition { color:red; }
.negativeTransition { color:blue; }

